[data-theme='light'] body {
  background-color: #ffffff !important;
  color: #111111 !important;
}
[data-theme='dark'] body {
  background-color: #111111 !important;
  color: #ffffff !important;
}


/* Avatar border reacts to theme */
.author__avatar img {
  border-radius: 50%;
  border: 2px solid currentColor;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
