---
layout: null
---

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body class="layout-{{ page.layout | default: 'default' }}{% if page.classes %} {{ page.classes | join: ' ' }}{% endif %}">
    <div class="masthead">
      {% include masthead.html %}
    </div>

    <div class="page__overlay"></div>

    {% include sidebar.html %}

    <div id="main" role="main">
      {% include breadcrumbs.html %}
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- Toggle script goes here -->
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
  </body>
</html>
